<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

		<script src="//use.typekit.net/sec7fxd.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
    	
	    <script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	      ga('create', 'UA-61265657-1', 'auto');
	      ga('send', 'pageview');

	    </script>
		
	    {%- for path in extra_css %}
	    <link href="{{ path }}" rel="stylesheet">
	    {%- endfor %}
		<title>{% if page_title %}{{ page_title.title() }}{% else %}{{ site_name }}{% endif %}</title>
	</head>
	<body class="docs">
		<div id="container">
			<div id="header">
				<div id="header-inner">
					<a href="/">
						<img id="ic-logo" src="/images/logo-ic-small.png">
						<h1>Instant Cocoa</h1>
					</a>
				</div>
			</div>
			<div id="content" class="clearfix">
			<div id="docs-menu">
				{% include "toc.html" %}
			</div>
			<div id="docs-content">
				{{ content }}
			</div>
		</div>
		<div id="footer">
			<div id="footer-inner">
				<a href="/">Instant Cocoa</a> &middot; MIT Licensed &middot; by Soroush Khanlou
			</div>
		</div>
	</body>
</html>