---
layout: default
body_class: home
---

<header class="content-header">
  <div class="container">
    <h1><img src="{{ site.baseurl }}img/logos/large.png" alt="{{ site.title }}" class="content-header-logo"></h1>
    <p>Instant Cocoa is an Objective-C framework for making iOS apps. It makes intelligent guesses about how your system is set up using introspection, and provides convenient points to override those guesses when you need to.</p>
    <div class="content-header-actions">
      <a href="{{ site.repo }}" class="btn-primary">Try it out</a>
      <a href="{{ site.baseurl }}/docs/" class="btn-secondary">View the docs</a>
    </div>
  </div>
</header>

<div class="content">
  <div class="container">
    <div class="features cols">
      {% for feature in site.data.features %}
      <div class="feature feature-{{ feature.title | paramaterize | downcase }} col col-1-3 col-tablet-1">
        <header class="feature-header">
          <img src="img/features/{{ feature.title | paramaterize | downcase }}.png" alt="">
          <h3 class="feature-title">{{ feature.title }}</h3>
        </header>
        <p>{{ feature.description }}</p>
      </div>
      {% endfor %}
    </div>

    {% for concept in site.data.concepts %}
    <section class="concept">
      <h3 class="concept-title h2">
        {% if concept.url != false %}
        <a href="{{ concept.url }}">
          <span class="concept-title-pre">Instant</span> {{ concept.title }}
        </a>
        {% else %}
        <span class="concept-title-pre">Instant</span> {{ concept.title }}
        {% endif %}
      </h3>
      <div class="concept-content">
        <p>{{ concept.description }}</p>

        {% if concept.url != false %}
        <a href="{{ concept.url }}" class="btn">Learn about Instant {{ concept.title }}</a>
        {% else %}
        <p class="concept-note">Documentation coming soon!</p>
        {% endif %}
      </div>
    </section>
    {% endfor %}
  </div>
</div>