/* reset.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* typography.css */

html {font-size:100.01%;}
body {font-size:75%;background:#fff;line-height:1.7;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;}
h3 {font-size:1.5em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;font-weight:bold;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* clearfix.css */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* styles.css */

body {
	font-size: 100%;
	font-family: "proxima-nova-alt", sans-serif;
}

button {
	font-family: "proxima-nova-alt", sans-serif;
}

#container {
	
}

#header {
	background: #363537; /* Old browsers */
	background: -moz-linear-gradient(top, #363537 0%, #5c5b5f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363537), color-stop(100%,#5c5b5f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #363537 0%,#5c5b5f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #363537 0%,#5c5b5f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #363537 0%,#5c5b5f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #363537 0%,#5c5b5f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363537', endColorstr='#5c5b5f',GradientType=0 ); /* IE6-9 */

	color: white;
}

.home #header #ic-logo {
	margin: 0px auto -40px;
	padding-top: 30px;
	display: block;
}

.home #header h1 {
	display: none;
}

.home #header p {
	width: 600px;
	margin: 0px auto;
	font-size: 1.2em;
	line-height: 30px;
	text-align: center;
	color: #f0ebfe;
}

#big-button-container {
	width: 500px;
	margin: 0px auto;
	padding: 20px 0;
}

#big-button-container button {
	width: 200px;
	height: 50px;
	display: inline-block;
	border: thin white solid;
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	font-size: 0.9em;
	margin: 16px;
	border-radius: 4px;
	letter-spacing: 2px;
	font-weight: bold;
}

#big-button-container button.call-to-action {
	border: none;
	color: #1d1167;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
	
	background: #e786fa; /* Old browsers */
	background: -moz-linear-gradient(top, #e786fa 0%, #6f59f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e786fa), color-stop(100%,#6f59f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e786fa 0%,#6f59f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e786fa 0%,#6f59f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e786fa 0%,#6f59f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e786fa 0%,#6f59f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e786fa', endColorstr='#6f59f4',GradientType=0 ); /* IE6-9 */
}

#content {
	width: 840px;
	margin: 0px auto;
	color: #57565a;
}

#horizontal-values ul {
	margin: 0;
	padding: 0;
}

#horizontal-values li {
	width: 30%;
	float: left;
	padding: 40px 4.5% 40px 0;
	line-height: 23px;
}

#horizontal-values li:last-child {
	padding-right: 0;
}

#horizontal-values li img {
	height: 70px;
	width: 70px;
}

#horizontal-values li h3 {
	font-size: 1.2em;
	margin: 1em 0;
}

.concept {
	border-top: thin solid #e7e5ea;
	line-height: 25px;
}

.concept > * {
	margin: 30px 0;
}

.concept-title {
	float: left;
	width: 300px;
}

.concept-title h3 {
	font-size: 1.5em;
	margin: 0;
	padding-top: .5em;
}

.concept-title .subtle {
	color: #a9a7af;
}

.concept-info {
	float: right;
	width: 530px;
}

.concept small {
	font-style: italic;
}

.concept button {
	height: 40px;
	padding: 0 15px;
	border: thin #7661f4 solid;
	background-color: transparent;
	color: #7661f4;
	font-size: 1em;
	margin: 16px 0;
	border-radius: 4px;
	cursor: pointer;
}

#footer {
	background-color: #666666;
	color: white;
}

#footer-inner {
	width: 840px;
	margin: 0 auto;
}

#footer a {
	color: white;
}

.docs #docs-menu {
	float: left;
	width 250px;
}

.docs #docs-menu h2{
	font-size: 1.3em;
}

.docs #docs-menu a {
	color: inherit;
}

.docs #docs-menu ul ul {
	margin: 0;
}

.docs #docs-content {
	float: right;
	width: 620px;
}

.docs #header {
	height: 55px;
}

.docs #header a {
	color: white;
	text-decoration: none;
}

.docs #header-inner {
	width: 840px;
	margin: 0px auto;
	padding: 5px;
}

.docs #header #ic-logo {
	display: inline;
}

.docs #header h1 {
	font-size: 1.5em;
	display: inline;
	line-height: 2em;
	vertical-align: top;
}

#content {
	margin-top: 20px;
}

.docs pre, .docs code {
	white-space: nowrap;
	border: 1px solid #dedede;
	background-color: #f8f8f8;
	border-radius: 3px;
	font-size: 0.9em !important;
	font-family: Menlo, monospace !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
}

.docs pre {
	padding: 5px;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
}

.docs code {
	padding: 2px 5px;
}

.docs pre code {
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	border: none;
}

.docs pre span {
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
}
