//  ----------------------------------------------------------------------
//  =COLORS
//  ----------------------------------------------------------------------

$green:  #95dd53;
$teal:   #41d0f2;
$blue:   #4978ef;
$purple: #7661f4;
$pink:   #c2baf1;
$grey:   #5a585c;

$text:   #716f73;



//  ----------------------------------------------------------------------
//  =GRID
//  ----------------------------------------------------------------------

$gutter:   30px;
$gutter-y: 60px;




//  ----------------------------------------------------------------------
//  =SCAFFOLDING
//  ----------------------------------------------------------------------

$content: 840px;

$container-gutter-mobile: $gutter / 2;

$nav-w: 233px;  // width of `.nav` with 'sectioned-data-source'
$nav-bp: 675px;




//  ----------------------------------------------------------------------
//  =TYPOGRAPHY
//  ----------------------------------------------------------------------

$fonts: proxima-nova-alt, helvetica neue, arial, sans-serif;

$font-size: 16px;

$line-height: 1.5;




//  ----------------------------------------------------------------------
//  =UX
//  ----------------------------------------------------------------------

$duration: 100ms;